.exchangerCard__container {
  position: relative;

  .vip_partner {
    background: var(--main-color);
    position: absolute;
    padding: 5px 8px;
    top: -10px;
    right: 20px;
    border-radius: 3px;

    text-transform: uppercase;
    color: #000;
    text-align: end;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
  }

  .exchangerCard {
    z-index: 1;
    display: block;
    cursor: pointer;
    background: var(--new-dark-grey);
    // background: #2d3039;
    border-radius: 10px;
    padding: 20px;
    color: var(--white-color);
    transition: transform 0.15s ease-in;
    text-decoration: none;

    &.vip {
      border: 2px solid var(--main-color);
    }

    @media (max-width: 400px) {
      padding: 15px;
    }

    .cardHeader {

      .cardInfo {
        display: grid;
        grid-template: 1fr / 1fr auto;
        gap: 10px;

        .exchangerInfo {
          display: grid;

          .cardName {
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @media (max-width: 400px) {
              font-size: var(--text-sm);
            }
          }

          .cityName {
            color: var(--main-color);
            font-size: var(--text-sm);
            text-align: left;
            margin: 0;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            @media (max-width: 400px) {
              font-size: var(--text-xs);
            }
          }
        }

        .reviewSlot {
          // align-self: end;
        }
      }
    }

    .info {
      padding: 5px 0px;
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 8px;
      margin: 15px -20px;
      background: var(--main-color);
      color: var(--dark-grey);

      @media (max-width: 400px) {
        margin: 15px -15px;
      }

      &__block {
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
        align-items: center;

        span,
        p {
          text-transform: uppercase;
          font-weight: 500;
        }

        .days {
          margin-top: 1px;
          span {
            margin-right: 2px;

            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }

    .cardSeparator {
      margin: 10px 0px;
      border: 0.4px solid #575A62;

      @media (max-width: 400px) {
        margin: 10px 0px;
      }
    }

    .cardFooter {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .valuteInfo {
        display: flex;
        align-items: start;

        .valuteExchange {
          font-size: 16px;
          color: var(--text-color);
          display: flex;
          justify-content: start;
          align-items: center;
          font-weight: 500;

          @media (max-width: 400px) {
            font-size: var(--text-sm);
          }

          .valuteName {
            font-weight: 300;
            font-size: 10px;
            margin-left: 4px;
            margin-top: 4px;

            @media (max-width: 400px) {
              font-size: 9px;
            }
          }

          .arrowIcon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0px 10px;
          }
        }

        .valuteExchange:first-child {
          position: relative;
          padding-right: 35px;
        }
      }

      .valuteRange {
        font-size: var(--text-sm);
        color: var(--main-color);

        @media (max-width: 400px) {
          font-size: var(--text-xs);
        }
      }
    }
  }
}