.exchangerCard__container {
  position: relative;

  &.vip {
    padding-top: 40px;
    background: var(--main-color);
    border-radius: 30px;
  }

  .vip_partner {
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;

    >p {
      text-transform: uppercase;
      color: #000;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      width: 100%;
      line-height: 1;
    }
  }

  .exchangerCard {
    z-index: 1;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    background: var(--dark-grey);
    border-radius: 30px;
    padding: 20px;
    color: var(--white-color);
    transition: transform 0.15s ease-in;
    // border: 2px solid var(--light-grey);
    box-shadow: 1px 3px 8px 1.5px rgba(0,0,0,0.7);
    text-decoration: none;

    &.partner {
      border: 2px solid var(--main-color);
      box-shadow: none;
    }

    @media (max-width: 380px) {
      padding: 15px;
    }

    .cardHeader {

      .cardInfo {
        display: grid;
        grid-template: 1fr / 1fr auto;
        gap: 10px;

        .exchangerInfo {
          display: grid;

          .cardName {
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            // text-transform: uppercase;
  
            @media (max-width: 380px) {
              font-size: var(--text-sm);
            }
          }
  
          .cityName {
            color: var(--main-color);
            font-size: var(--text-sm);
            text-align: left;
            margin: 0;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
  
            @media (max-width: 380px) {
              font-size: var(--text-xs);
            }
          }
        }

        .reviewSlot {
        }
      }
    }

    .info {
      padding: 5px 0px;
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 8px;
      margin: 15px -20px;
      background: var(--main-color);
      color: var(--dark-grey);

      @media (max-width: 380px) {
        margin: 15px -15px;
      }

      &__block {
        display: grid;
        grid-auto-flow: column;
        gap: 5px;
        align-items: center;

        span,
        p {
          text-transform: uppercase;
          font-weight: 500;
        }

        .days {
          span {
            margin-right: 2px;

            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }

    .cardSeparator {
      margin: 10px -20px;
      border: 1px solid var(--light-grey);

      @media (max-width: 380px) {
        margin: 10px -15px;
      }
    }

    .cardFooter {
      .valuteInfo {
        display: flex;
        align-items: start;

        .valuteExchange {
          font-size: 16px;
          color: var(--text-color);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;

          @media (max-width: 380px) {
            font-size: var(--text-sm);
          }

          .valuteName {
            font-weight: 300;
            font-size: 10px;
            margin-left: 4px;
            margin-top: 4px;

            @media (max-width: 380px) {
              font-size: 9px;
              margin-top: 2px;
            }
          }

          .arrowIcon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            margin: 0px 10px;
          }
        }

        .valuteExchange:first-child {
          position: relative;
          padding-right: 35px;
        }
      }

      .valuteRange {
        font-size: var(--text-sm);
        color: var(--main-color);

        @media (max-width: 380px) {
          font-size: var(--text-xs);
        }
      }
    }
  }
}