.exchangersList {
    padding-bottom: 20px;
  
    .header {
      color: var(--text-color);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      margin: 0px 5%;
      text-transform: uppercase;
    }
  
    .cards {
      padding: 15px 0px
    }
  }