.exchangersList {
  padding-bottom: 20px;

  .header {
    display: grid;
    gap: 5px;
    justify-content: center;
    justify-items: center;
    margin: 0px 3%;
    margin-top: 10px;

    h2 {
      color: var(--white-color);
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      color: var(--white-color);
      font-weight: 100;
      font-size: 12px;
      text-align: center;

      span {
        font-weight: 100;
      }
    }
  }

  .cards {
    padding: 15px 0px
  }
}