.direction {
  background: var(--new-light-grey);
  border-radius: 10px;
  color: var(--white-color);
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__title {
    font-size: 16px;
    text-align: center;
    font-weight: 400;

    @media (max-width: 380px) {
      font-size: var(--text-sm);
    }
  }
}

.active {
  color: #121212;
  background: var(--main-color);
}