.direction {
    color: var(--text-color);
    padding: 15px;
    background: var(--secondary-color);
    border-radius: 35px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .direction__title {
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    @media (max-width: 380px) {
        height: 60px;

        .direction__title {
            font-size: 12px;
        }
    }
}

.active {
    color: var(--black-color);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}