.reviewCountWrapper {
  display: grid;
  grid-template: 1fr / 1fr 0.3fr;
  gap: 5px;
  justify-items: center;
  align-items: center;
  border: 1px solid var(--light-grey);
  border-radius: var(--border-radius-l);
  padding: 5px 8px;
  font-weight: 500;

  .reviewTitle {
    font-size: 9px;
    text-transform: uppercase;
    @media (max-width: 380px) {
      font-size: 8px;
    }
  }

  .reviews {
    display: grid;
    grid-template: 1fr / 1fr 10px 1fr;
    align-items: center;
    justify-items: center;
    font-size: 9px;

    @media (max-width: 380px) {
      font-size: 8px;
    }

    .reviewCountPositive {
      color: var(--main-color);
    }

    .separator {
      background: var(--light-grey);
      margin-inline: 3px;
      width: 2px;
      height: 50%;
      border-radius: var(--border-radius-xs);
    }

    .reviewCountNegative {
      color: var(--light-grey);
    }
  }
}
