* {
    // new design
    --main-color: #f6ff5f;
    --white-color: #fff;
    --secondary-text: #606060;
    --dark-grey: #2d2d2d;
    --light-grey: #bbbbbb;

    --border-radius-xl: 50px;
    --border-radius-l: 35px;
    --border-radius-m: 20px;
    --border-radius-s: 16px;
    --border-radius-xs: 10px;
  
    --border-width-main: 2px;
  
    --text-xl: 20px;
    --text-lg: 18px;
    --text-sm: 14px;
    --text-xs: 12px;

    --second-height: 60px;
    --main-height: 70px;
}